body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
    margin: 0px;
    padding: 0;
}

.header {
    width: 1054px;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word;
}

.logoutWelcomeId {
    float: right;
    font-size: 12px;
    color: #666;
}

body {
    background-color: #fff;
    text-align: left;
}

.wrapper {
    min-width: 1054px;
    max-width: 1054px;
    margin-right: auto;
    margin-left: auto; /* fix max-width incompatibility in IE6 */
    overflow: hidden;
    display: block;
}

.menu {
    width: 230px;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word;
}

.content {
    width: 770px;
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom: 5px;
    width: 100%;

}

.action-column {
    text-align: center;
    width: 120px !important;
}

.ui-selectmanymenu {
    width: 155px !important;
    height: 100px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
    width: 200px;
}

.col2 {
    vertical-align: middle;
    width: 350px;
}

.col3 {
    vertical-align: middle;
}

.ui-widget {
    font-size: 98% !important;
}

.ui-growl {
    top: 115px !important;
}

/* Header */
#logo {
    width: 960px;
    height: 75px;
    margin: 0 auto;
    padding: 15px 10px 0 10px;
}

#logo h1, #logo p {
    float: left;
    margin: 0;
}

#logo h1 {
    padding: 0 0 0 0;
    letter-spacing: -1px;
    font-weight: bolder;
    font-size: 3em;
    color: #FFFFFF;

}

#logo p {
    text-transform: uppercase;
    padding: 47px 0 0 3px;
    font-size: 10px;
    color: #FFFFFF;
}

#logo a {
    border: none;
    text-decoration: none;
    color: #e5ff0d;
}

/* Menu */
#menu {
    width: 1010px;
    margin: 0 auto;
    padding: 0;
    height: 25px;
}

.ui-menubar {
    width: 1044px;
    margin: 0 auto;

}

#menu ul {
    margin: 0;
    padding-left: 10px;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu li a {
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    padding: 10px 10px 0 10px;
    text-decoration: none;
    font-size: 15px;
}

#menu li a:hover {
    text-decoration: underline;
}

/* Footer */

#footer {
    margin: 0 auto;
}

#footer p {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: smaller;
}

#footer a {
}

#footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer .link {
    float: right;
}

#footer .copyright {
    float: left;
}

/* Sidebars */

#sidebar1 {
    float: left;
    margin-top: -81px;
    margin-left: -1px;
    font-family: Arial, sans-serif;
    font-size: 11px !important;
}

#sidebar2 {
    float: right;
}

.sidebar {
    float: left;
    width: 240px;
    padding: 0;
    font-size: 12px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar span {
    cursor: pointer;
}

.sidebar li ul {
}

.sidebar li li {
    margin: 0 10px 0 10px;
    padding: 3px 0px;
}

.sidebar li h2 {
    height: 40px;
    margin: 0 0 0 0;
    padding: 20px 15px 0px 65px;
    background: url(../images/img04.jpg) no-repeat left top;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
}

.sidebar a {
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar a.ui-menuitem-link:hover {
    text-decoration: none;
}

.title {
    height: 85px;
    padding: 5px 10px 5px 10px;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.label {
    font-weight: bold;
}

.hint {
    font-weight: lighter;
    color: firebrick;
}

.ui-datatable thead th {
    white-space:normal !important;
}

.ui-datatable tbody td {
    white-space:normal !important;
}

.ui-inputfield {
}

.fy-required-field{
    background: url(../images/iconRequired.gif) no-repeat scroll left top transparent;
    padding-left:15px;
}

.review_question_active {
    background-color: rgb(33, 145, 192);
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 2px solid;
    border-color: #015270;
    border-radius: 5px;
}

.review_question_inactive {
    background-color: rgb(160,160,160);
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.row_inactive {
    background-color: rgb(160,160,160);
}
.row_inactive {
    background-color: #FFFFFF;
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.colored {
    background: orangered;
}

.quesbanner {
    background-color: rgb(33, 145, 192);
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 2px solid;
    border-color: #015270;
    border-radius: 5px;
}